.win7-login-bg {
  min-height: 100vh;
  width: 100vw;
  background-size: cover;  
  background-image: url('./assets/login_bg.png'); 
  background-position: center;   
  background-repeat: no-repeat;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.win7-username-label {
  font-size: 1rem;
  color: white;
  text-shadow: 0 0 5px black;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
}

.win7-login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.win7-user-img {    
  border-radius: 16px;   
  box-shadow:
    0 4px 16px #1995ef35,             /* outer glow */
    0 0 0 6px #fff,                   /* white outer rim (optional) */
    0 0 0 10px #accaef70;             /* soft blue halo (optional) */
 
  margin-bottom: 8px;
  transition: border-color 0.0s;
}

/* For hover/focus to mimic the "selected" feel */
.win7-user-img:hover,
.win7-user-img.active {
  border: 3.5px solid #1498ee;    /* Gold highlight on hover/select */
  box-shadow:
    0 4px 18px #e5ba5a90,
    0 0 0 7px #fff,
    0 0 0 12px #f9e8b870;
}


.win7-login-icon {
  width: 250px;
  height: 250px;
  border-radius: 16px;
  box-shadow:
    0 0 0 7px #fff9,
    0 0 0 13px #8ecaea69;
  margin-bottom: 18px;
}

.win7-username-input {
  border: none;
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 1000;
  text-align: center;
  outline: none;
  margin-bottom: 8px;
  width: 220px;
}

.pass 
{
    display: flex;
    gap: 10px;
    max-width: 250px;
}

.win7-password-input {
  border-radius: 6px;
  border: 1.5px solid #105eb3;
  padding: 5px;
  height: min-content;
  font-size: 1.2rem;
  width: 200px;
  outline: none;
  margin-top: 16px;
  background: #e6f3fc;
  color: #1976d2;
  box-shadow: 0 2px 8px #1995ef1e;
}

.win7-login-btn {
  margin-top: 18px;
  background: radial-gradient( rgba(14, 151, 196, 0.6), #8ecaea69);
  border-radius: 24px;
  border: #111;
  padding: 0px 10px;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;  
  box-shadow:
    0 4px 16px #1793ee44,
    0 0 0 10px #8ecaea69,
    0 0 0 1px #111;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
