:root{
  --size:2px;
  --red-glow:0px 0px calc(var(--size)*1.2) 2px #FF2828;
  --blue-glow:0px 0px calc(var(--size)*1.2) 2px #448AFF;
  --limegreen-glow:0px 0px calc(var(--size)*1.2) 2px limegreen;
  --yellow-glow:0px 0px calc(var(--size)*1.2) 2px #FDD835;
}

/* Full dark background */
body{
  margin:0;
  background:black;
  color:white;
  font-family:Segoe UI, sans-serif;
  overflow:hidden;
}

/* Center animation in screen */
.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  height:100vh;
  width:100vw;
  position:relative;
  /* Windows 7 glow gradient */
  background: radial-gradient(circle at center,
     rgba(80,80,80,0.7) 0%, 
     rgba(0,0,0,0.95) 50%, 
     black 100%);
}


/* Balls are animated & placed over center */
.ball{
  width:var(--size);
  height:var(--size);
  border-radius:60%;
  position:absolute;
}

/* Text styling */
h2{
  margin-top:220px;    /* Move text below animation */
  font-weight:500;
  color:#ddd;
  filter:drop-shadow(0 0 3px rgba(255,255,255,0.6));
}

/* Bottom copyright text */
h4{
  position:fixed;
  bottom:15px;
  width:100%;
  text-align:center;
  color:#aaa;
  opacity:0.7;
  letter-spacing:0.5px;
}

@keyframes red{
  20%{
  margin-left:40p0;
  margin-top:40px;
  transform:scale(1.2);
  opacity:1;
  }
  40%{
  margin-left:40px;
  margin-top:0px;
  transform:scale(2);    
  opacity:1;
  }
  50%{
  margin-left:-5px;
  margin-top:-5px;
  transform:scale(3.6);    
  opacity:1;
  }
  65%{
  margin-left:-5px;
  margin-top:-5px;
  border--5adius:0.2px;
  transform:skewx(-15deg) scale(20);
  box-shadow:0px 0px 2px 0.5px #FF2828;
  opacity:1; 
  }
  75%{
  margin-left:-5px;
  margin-top:-5px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(18);
  box-shadow:0px 0px 2px 0.5px #FF2828;
  opacity:1; 
  }
  100%{
  margin-left:-5px;
  margin-top:-5px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(21.5);
  box-shadow:0px 0px 2.9px 1.2px #FF2828;
  opacity:1;
  background:radial-gradient(#FF2828,rgba(250,60,60,0.7));
  }
}
@keyframes green{
  15%{
  margin-left:-40px;
  margin-top:-40px;
  transform:scale(1.2);
opacity:1;
  }
  35%{
  margin-left:-40px;
  margin-top:25px;
  transform:scale(2);  
  opacity:1;  
  }
  50%{
  margin-left:5px;
  margin-top:5px;
  transform:scale(3.6);
  opacity:1;  
  }
  65%{
  margin-left:5px;
  margin-top:5px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(20);
  box-shadow:0px 0px 2px 0.5px limegreen; 
  opacity:1;
  }
  75%{
  margin-left:5px;
  margin-top:5px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(18);
  box-shadow:0px 0px 2px 0.5px limegreen;
  opacity:1; 
  }
  100%{
  margin-left:5px;
  margin-top:5px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(21.5);
  box-shadow:0px 0px 3px 0.5px limegreen;
  opacity:1; 
  }
}

@keyframes blue{
  32%{
  margin-left:35px;
  margin-top:40px;
  transform:scale(1.2);
  opacity:1;
  }
  45%{
  margin-left:-35px;
  margin-top:40px;
  transform:scale(2);
  opacity:1;    
  }
  55%{
  margin-left:-5px;
  margin-top:5px;
  transform:scale(3.6);
  opacity:1;  
  }
  65%{
  margin-left:-5px;
  margin-top:5px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(20);
  box-shadow:0-5x 0px 2px 0.5px #448AFF;
  opacity:1; 
  }
  75%{
  margin-left:-5px;
  margin-top:5px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(18);
  box-shadow:0px 0px 2px 0.5px #448AFF;
  opacity:1; 
  }
  100%{
  margin-left:-5px;
  margin-top:5px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(21.5);
  box-shadow:0px 0px 2.5px 1px #448AFF;
  opacity:1; 
  }
}

@keyframes yellow{
  30%{
  margin-left:-30px;
  margin-top:-40px;
  transform:s-5ale(1.2);
  opacity:1;
  }
  40%{
  margin-left:0px;
  margin-top:0px;
  transform:scale(2);
  opacity:1;    
  }
  50%{
  margin-left:5px;
  margin-top:15px;
  transform:scale(3.6);
  opacity:1;  
  }
  65%{
  margin-left:5px;
  margin-top:15px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(20);
  box-shadow:0px 0px 2px 0.5px #FDD835;
  opacity:1;
  }
  75%{
  margin-left:5px;
  margin-top:15px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(18);
  box-shadow:0px 0px 2px 0.5px #FDD835;
  opacity:1; 
  }
  100%{
  margin-left:5px;
  margin-top:15px;
  border-radius:0.2px;
  transform:skewx(-15deg) scale(21.5);
  box-shadow:0px 0px 3px 0.5px #FDD835;
  opacity:1; 
  }
}
.red{
  background:#FF2828;
  box-shadow:var(--red-glow);
  margin-left:-20px;
  margin-top:-20px;
  animation:red 5.5s linear forwards;
  animation-fill-mode:forwards;
  opacity:0.7;
  transform-origin:100% 100%;
  z-index:4;
  animation-delay:1s;
}

.blue{
  background:#448AFF;
  box-shadow:var(--blue-glow);
  margin-left:-10px;
  margin-top:-30px;
  animation:blue 5.5s linear forwards;
  animation-fill-mode:forwards;
  opacity:0.3;
  transform-origin:100% 0%;
  z-index:4;
  animation-delay:1s;
}

.green{
  background:limegreen;
  box-shadow:var(--limegreen-glow);
  margin-left:30px;
  margin-top:30px;
  animation:green 5.5s linear forwards;
  animation-fill-mode:forwards;
  opacity:0.7;
  transform-origin:0% 100%;
  z-index:3;
  animation-delay:1s;
}

.yellow{
  background:#FDD835;
  box-shadow:var(--yellow-glow);
  margin-left:10px;
  margin-top:30px;
  animation:yellow 5.5s linear forwards;
  animation-fill-mode:forwards;
  opacity:0;
  transform-origin:0% 0%;
  z-index:3;
  animation-delay:1s;
}